.page-wrapper{
    .main-header{
        .header-upper{
            background-color: #FF9900;
            .auto-container{
                .logo-outer{
                    padding: 5px 0 5px 0;
                    .logo{
                        width: auto;
                        height: auto;
                    }
                }
            }
        }
    }
}