
$breakpoints: (phone: 468px, tablet: 768px, desktop: 1366);

@import 'vendor/_include-media.scss';
@import 'partials/header';
@import 'partials/footer';
@import 'pages/blank';

body .scroll-to-top {
    bottom: 50px;
    background: #FF9900;    
    &:hover{
        background: #666666;    
    }
}

.dataTables_wrapper {
    .dataTables_length{
        width: 50%;
        float: left;
        text-align: left; 
        @include media("<tablet") {
            width: 100%;
            text-align: left; 
        }        
    }
    .dataTables_filter{
        width: 50%;
        float: left;      
        text-align: right; 
        @include media("<tablet") {
            width: 100%;
            text-align: left; 
        }        
        label{
            input{
                background-color: #f3f3f3;
            }
        } 
    }
    .dataTable{
        width: 100%;
        border: 1px solid #FF9900;
        color: #fff;
        thead{
            background: #FF9900;   
            tr{
                th{
                    padding: 5px;
                }
            } 
        }
        tbody{
            tr{
                th{
                    padding: 5px;
                }
            } 
        }       
                                        
    }
}


@include media(">=tablet", "<desktop") {

}

@include media("<tablet") {

}